@import "../scss/media";
@import "../scss/colors";
@import "../scss/util";
@import "../scss/theme";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

.intro-space {
    margin-top: 2.5rem;

    @include respond-above(sm) {
        margin-top: 3rem;
    }
}

$full-width: 600px;
$line-width: 225px;

.cta-button.login-button {
    $this: &;
    border-radius: 32px !important;
    position: relative;
    max-width: 100%;
    border: none !important;

    .login-wrapper {
        @include transitions("width", 0.4s);
        width: 0;
    }

    @include respond-above(md) {
        // Restore vertical rhythm by offsetting border radius
        margin-left: -8px;
    }

    .cta-button--content-wrapper {
        margin: 0 0.5rem;
        width: calc(100% - 1rem);
        position: relative;
        overflow: hidden;
    }

    .cta-button--content {
        position: relative;

        $height: 2px;
        $h-offset: 16px;
        $v-offset: 2px;

        &::after,
        &::before {
            @include transitions("width", 0.6s);
            @include dark-bg(rgba($-light, 0.16));
            @include light-bg(rgba($-dark, 0.12));

            content: " ";
            height: 2px;
            position: absolute;
            top: calc(50% - #{$height / 2} + #{$v-offset});
            width: 0;
        }

        &::before {
            left: calc(100% + #{$h-offset});
        }

        &::after {
            right: calc(100% + #{$h-offset});
        }
    }

    &::before {
        @include transitions("width", 0.4s);
        position: relative;
        display: block;
        height: 1px;
        width: 0;
        max-width: 100%;
        content: " ";
    }

    &::after {
        @include transitions("opacity", 0.4s);
        content: "";
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: $drop-shadow;
        opacity: 0;
    }

    &:not(.cta-button__active) {
        transition-delay: 0.5s;
    }

    &#{$this}__active {
        @include dark-bg($dark-400, $important: true);
        @include light-bg($light-500, $important: true);
        @include dark-border(transparent, $important: true);
        @include light-border(transparent, $important: true);
        @include light-fg;

        padding: 1rem !important;
        margin-left: 0 !important;
        border-radius: 8px !important;
        box-shadow: none !important;
        cursor: initial;
        user-select: text;
        transition: none;
        pointer-events: none;

        & > * {
            pointer-events: all;
        }

        &::before {
            width: $full-width;
        }

        &::after {
            opacity: 1;
        }

        .cta-button--content {
            &::before,
            &::after {
                transition-delay: 0.7s;
                transition-timing-function: cubic-bezier(0.45, 0, 0, 1);
                width: $line-width;
            }
        }

        .login-wrapper {
            width: 100%;
            max-width: $full-width;
        }

        &#{$this}__transitioning {
            @include transitions(
                (
                    background-color,
                    padding,
                    margin-left,
                    transform,
                    border-radius,
                    box-shadow,
                    min-width
                ),
                0.5s
            );
        }
    }

    &.login-button__reverse {
        background-color: $-secondary;
        color: $-light;
        @include transitions(
            (
                color,
                background-color,
                padding,
                margin-left,
                transform,
                border-radius,
                box-shadow,
                min-width
            ),
            0.5s
        );
        transition-delay: 0.35s !important;

        &::before {
            transition-duration: 0.5s;
            transition-delay: 0.4s;
        }

        &::after {
            transition-duration: 0.5s;
            transition-delay: 0.4s;
        }
    }
}

.cta-button.register {
    @include transitions((max-width, opacity, box-shadow, padding), 0.5s);
    transition-delay: 0.35s !important;
    max-width: 220px;
    opacity: 1;
    vertical-align: top;
    overflow: hidden;

    &.active {
        max-width: 0;
        opacity: 0;
        padding-left: 0;
        padding-right: 0;
        transition-delay: 0s !important;
    }
}

.login-pane {
    $this: &;

    position: relative;
    font-size: 1rem !important;
    text-align: left;
    padding: 1rem 0.5rem 0.5rem;

    .form-group {
        label {
            @include dark-fade-fg;
            @include light-fade-fg;
        }

        &:last-child {
            margin-top: 1.45rem;
            margin-bottom: 0;
        }
    }

    #{$this}--close {
        @extend %button-blank;

        @include dark {
            background-color: $dark-400;
            color: rgba($-light, 0.5);

            &:hover {
                color: $-light;
            }
        }

        @include light {
            background-color: $light-500;
            color: rgba($-dark, 0.5);

            &:hover {
                color: $-dark;
            }
        }

        font-size: 1.5rem;
        height: 3rem;
        width: 3rem;
        border-radius: 768px;
        position: absolute;
        top: -40px;
        right: -6px;

        span:first-child {
            position: relative;
            top: -4px;
        }
    }
}

.login-register {
    .cta-button {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    &__welcome {
        max-width: 600px;
        margin: 1rem 0;
        padding-bottom: 1.5rem - 1rem;
    }
}

.register {
    .back-button {
        margin-bottom: 1.5rem;
    }
}

.register-customer {
    .credit-card-input {
        .set-input--item {
            height: 40px;
            padding: 0 0.25rem 0 0 !important;
        }

        .credit-card-display {
            height: 40px;
            display: flex;

            &--icon {
                @include light-bg(rgba($-light, 0.4));
                @include dark-bg(rgba($-light, 0.15));
                @include dark(fill, $-light);

                display: flex;
                align-items: center;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                padding-left: 0.3rem;
                padding-right: 0.3rem;
            }

            &--text {
                display: flex;
                align-items: center;
            }
        }
    }
}

.register-pane {
    $speed: 300ms;
    &-enter {
        opacity: 0;
        transform: scale(1.08);
    }

    &-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: transform $speed, transform $speed;
    }

    &-exit {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        opacity: 0.4;
        transform: scale(1);
    }

    &-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity $speed, transform $speed;
    }
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

.app-base {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    .data-grid {
        flex-grow: 1;
        min-height: 400px;
    }

    .app-space {
        margin-top: 2rem;
    }

    .level-badge-header {
        margin-bottom: 0.5rem;
    }

    .level-badge {
        border-radius: 400px;
        border-width: 2px;
        border-style: solid;
        padding: 0.3rem 0.75rem 0.2rem;
        font-size: 1.2rem;
        margin-left: 0;

        @mixin badge-variant($color) {
            border-color: $color;
            background-color: rgba($color, 0.15);
        }

        @include respond-above(sm) {
            margin-left: -0.5rem;
        }

        &.badge__admin {
            @include badge-variant($-warning);
        }

        &.badge__customer {
            @include badge-variant($-primary);
        }

        &.badge__manager {
            @include badge-variant($-success);
        }

        &.badge__user {
            @include badge-variant(rgba(127, 127, 127, 0.5));
        }
    }
}

.create-theater-button {
    margin-right: 2.5rem;
}

.theater-overview {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.explore-movie {
    position: relative;

    &__credit-card {
        max-width: 350px;

        @include respond-above(md) {
            margin-bottom: 0.4rem;
        }

        .combo-input__control {
            @include dark-bg($dark-300, $important: true);
        }
    }

    &__watch {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include respond-below(xs) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1rem;
        }

        @include respond-above(sm) {
            position: absolute;
            top: 3.25rem;
            right: 2rem;
            justify-content: flex-end;
            width: 100%;
            pointer-events: none;

            & > * {
                pointer-events: initial;
            }
        }

        @include respond-above(md) {
            top: 3rem;
        }
    }

    &__watch-label {
        margin-bottom: 0.5rem;

        @include respond-above(xs) {
            margin-bottom: 0 !important;
            margin-right: 1rem;
        }
    }

    &__watch-progress {
        $size: 80px;

        position: relative;
        max-width: $size;
        width: 100%;

        svg path:first-child {
            stroke-width: 8px;
            @include dark(stroke, $dark-500, $important: true);
        }
    }

    &__watch-progress-label-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__watch-progress-label {
        margin-bottom: 0 !important;
        position: relative;
        top: 2px;
    }
}
