{
  "extends": ["prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["babel", "react", "prettier", "react-hooks", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "semi": true,
        "endOfLine": "auto"
      }
    ],
    "react-hooks/rules-of-hooks": "off",
    "react-hooks/exhaustive-deps": "error"
  }
}
