@import "./colors";

// AppContent
$app-content-dark-bg: $dark-300;
$app-content-light-bg: $-light;
$app-content-dark-fg: $-light;
$app-content-light-fg: $-dark;

// DataGrid
$data-grid-header-dark-bg: $dark-200;
$data-grid-header-light-bg: $light-300;
$data-grid-header-hover-dark-bg: $dark-250;
$data-grid-header-hover-light-bg: $light-250;
$data-grid-placeholder-dark-bg: $dark-200;
$data-grid-placeholder-light-bg: $light-500;
